<div class="w-95 m-auto">
	<h1 class="mt-5">Product Dashboard</h1>


	<div class="w-95 mt-5">
		<p-dropdown
			[options]="allCountries"
			[optionLabel]="'name'"
			[placeholder]="'Select Currency'"
			[ngModel]="selectedCountry"
			(onChange)="handleDropdownChange($event.value)"
		></p-dropdown>
	</div>
	<div class="mt-2">
		<p-card>
			<p-table
				[value]="products"
			>
				<ng-template pTemplate="header">
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Price</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-product>
					<tr>
						<td>{{product.name}}</td >
						<td>{{product.description}}</td>
						<td>{{product.displayPrice | number:'1.2-2'}} {{ selectedCountry.currencyCode }}</td>
					</tr>
				</ng-template>

			</p-table>

		</p-card>
	</div>


</div>


